@font-face {
    font-family: ahronbd;
    src: url(../css/aharoni-bold-font/ahronbd.ttf)
}
ul li{
    list-style: none;
}
body{
    background-image: url("../imgs/fundo-gangues.jpg"); 
    margin: 0%;
    background-repeat: no-repeat;
    background-color: #fdf5de;
    background-position-y: 45px;
    background-position-x: -275x;
    background-attachment: fixed;
}
.logo{
    text-align:center;
}
.menu{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu ul li{
    font-size: xx-large;
    font-family: ahronbd;
}
.intro{
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.1em #000000;
    font-family: ahronbd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro img{
    width: 310px;
    height: 270px;
}
.opcoes a{
    text-decoration: none;
    color:white
}
.opcoes a:hover{
    text-decoration: underline;
}
.ballas img{
    border: 10px solid #8e30db;
    border-radius: 10px;
}
.grove img{
    border: 10px solid rgb(36, 150, 21);
    border-radius: 10px;
}
.intro .grove{
    flex-direction: column;
}
.vagos img{
    border: 10px solid rgb(228, 240, 63);
    border-radius: 10px;
}
.varrios img{
    border: 10px solid rgb(62, 223, 196);
    border-radius: 10px;
}
.rifa img{
    border: 10px solid rgb(28 187 187);
    border-radius: 10px
}
.triads img{
    border: 10px solid rgb(43, 44, 44);
    border-radius: 10px
}
.boys img{
    border: 10px solid gold;
    border-radius: 10px
}
.honras{
    text-align: center;
}